<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HFSegmentController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B8E8EDC1CEEA1980024A0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8E8EF51CEEA1980024A0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8E8F001CEEA1980024A0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
